*{
    padding: 0;
    margin: 0;
    font-family: Garamond;
    text-align: center;
}
header{
    width: 72%;
    float: left;

    
}
#lewyp{
    background-color: #795548;
    font-size: 170%;
   
   
}
#lewyd{
    height: 400px;
    
}
aside{
    background-color: #BCAAA4;
    color: #795548;
   
    width: 28%;
    float: right;
   
}
footer{
    background-color: #795548;
    color: white;
    padding: 20px;
    clear: both;
}
table{
    margin: auto;
    width: 80%;
    border: solid 1px #795548;
    border-collapse: collapse;
}
tr:hover{
    background-color: Sienna;
    color: white;
}
h4{
    font-size: 200%;
}
img{
    padding: 20px;
    border-radius: 40px;
}
a{
    color: white;
}
input.radio{
    margin: 7px;
}
section{
    flex-direction: column;
   
}
#prawyp, #prawyd{
    height: 400px;
}