*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
.banerl, .banerp{
    background-color: rgb(70,130,180);
    color: white;
    width: 25%;
    height: 80px;
    display: flex;
}
.baners{
    background-color: rgb(70,130,180);
    color: white;
    width: 50%;
    height: 80px;
    text-align: center;
    display:flex;
}
.main{
    background-color: rgb(224,255,255);
    padding: 40px;
}
aside, nav{
    background-color: rgb(70,130,180);
    width: 50%;
    height: 200px;
    text-align: center;
    float: left;
}
footer{
    background-color: rgb(224,255,255);
}
table{
    border:1px solid blue;
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 1px solid blue;

}
th{
    border: 1px solid blue;
    background-color: blue;
    color: white;
}
