*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
aside{
    background-color: rgb(146,184,112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
    
}
nav{
    background-color: rgb(146,184,112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: right;
}
header, footer{
    background-color: rgb(100,61,49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    clear: both;
}
.prawy{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: right;
 
}
.lewy{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
 
}
#logo{
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}
table, td, th, tr{
    border: 2px dotted green;
    margin: 30px;
    padding: 20px;
}
h1{
    letter-spacing: 20px;
    font-size: 250%;
}
